@font-face {
  font-family: RobotoLight;
  src: url("./fonts/Roboto/Roboto-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: RobotoReg;
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: RobotoMed;
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 400;
  font-size: 0.7em;
}

@font-face {
  font-family: RobotoThin;
  src: url("./fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-size: 0.7em;
}
/*phone size*/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: #353a3a;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 2em 1em 1em 1em;
  justify-content: center;
  align-items: center;
}

h5 {
  margin: 0;
}

h1,
h4 {
  font-family: RobotoReg;
}

.sub-title {
  font-family: RobotoMed;
}

p {
  font-family: RobotoLight;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 1em;
}

.workerImg {
  height: 280px;
  margin: 1em;
}

.workerTitle {
  font-family: RobotoThin;
  margin: 0;
}
.workerName {
  font-family: RobotoMed;
  font-size: 0.8em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*tablet size*/
@media screen and (min-width: 780px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .staff {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 5em;
  }
  h4 {
    margin-bottom: 5em;
  }
  .workerImg {
    margin: 0 0 1em 0;
  }
  .workerName {
    margin-bottom: 0.2em;
  }
  .workerTitle {
    margin-bottom: 1em;
  }
}
/*Pc size*/
@media screen and (min-width: 1180px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  h4 {
    margin-bottom: 5em;
  }
  .workerImg {
    margin: 0 0 1em 0;
    height: 220px;
  }
  .staff {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5em;
  }
  .workerName {
    margin-bottom: 0.2em;
  }
  .workerTitle {
    margin-bottom: 1em;
    font-size: 0.7em;
  }
}
